*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  color: #2a2a2a;
}

.text {
  padding: 20px;
  background-color: #fff;
  border: 2px dashed #2a2a2a;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  .container-dog {
    margin: 0 auto;
    padding: 20px;
    max-width: 400px;
    background-color: #fff;
    border: 2px dashed #2a2a2a;
  }
  
  .dog-img {
    margin-bottom: 30px;
    border: 2px dashed tomato;
  }
  
  .title {
    margin-top: 0;
    margin-bottom: 20px;
    border: 2px dashed teal;
  }
  
  .text-padding {
    width: 400px;
    height: 270px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 0;
    margin-top: 0;
    border: 2px dashed blue;
  }

  .img-cat{
    margin: 150px;
  }

   .container {
       display: block;
       /* padding-top: 40px; */
       /* overflow: hidden; */
       margin: 150px auto;
       /* border: 1px solid; */
       width: 400px;
       height: 400px;
       background-color: darkorange;
     }
     
     .container-box {
       display: block;
       margin: 0 auto;
       border: 1px solid green;
       width: 200px;
       height: 200px;
       margin-top: 40px;
       background-color: greenyellow;
     }

 .parent {
   box-sizing: border-box;
   width: 200px;
   min-height: 150px;
   background-color: teal;
   padding: 1rem;
 }

 .child {
   height: 150px;
   background-color: goldenrod;
 }

.c-badge {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  flex: 0 0 60px;
  border-radius: 50%;
  background: #286be8;
  margin-right: 0.5rem;
}

.c-icon {
  fill: #fff;
  width: 28px;
  height: 28px;
}

/* Page Setup */

body {
  padding: 1rem;
  font-family: 'Arial';
}

h2 {
  margin-bottom: 1rem;
  font-weight: bold;
}

.content,
.content1,
.content2 {
  color: #fff;
  font: 100 24px/100px sans-serif;
  height: 150px;
  text-align: center;
}

.content div,
.content1 div,
.content2 div {
  height: 50%;
  width: 50%;
}

.red {
  background: orangered;
}

.green {
  background: yellowgreen;
}

.blue {
  background: steelblue;
}

/* Flexbox Styles */
.content {
  display: flex;
  flex-wrap: wrap;
}

.content1 {
  display: flex;
  flex-wrap: nowrap;
}

.content2 {
  display: flex;
  flex-wrap: wrap-reverse;
}